.rotate {

  &--180 {
    transform: rotate(180deg);
  }
}

.hide-m {
  display: block;

  @media ($m-m) {
    display: none;
  }
}

.show-m {
  display: none;

  @media ($m-m) {
    display: block;
  }
}